name: Deploy Drive API

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, Windows]
    
    steps:
      - name: Deploy Drive API
        uses: ohishi-yhonda-pub/drive-api-deploy-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          public-repo-token: ${{ secrets.PUBLIC_REPO_TOKEN }}
          private-repo: ohishi-yhonda-org/security-notification-app
          public-repo: ohishi-yhonda-pub/security-notification-app